# Copyright (C) 2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0

# MediaProvider scans /data/cache/recovery for orphan files.
r_dir_file(mediaprovider, cache_recovery_file)
