# Copyright (C) 2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0

# misctrl reads fstab info from the device tree.
r_dir_file(misctrl, sysfs_dt_firmware_android)
