# Copyright (C) 2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0

# PermissionController queries the QTI QSPM HAL.
hal_client_domain(permissioncontroller_app, vendor_hal_qspmhal)
